@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
:root{
--font-color:black;
--font-family:'Schoolbell', cursive;
--accent-color: #1A1D74;
 scroll-behavior: smooth;
}
body{
    max-width: 980px;
    margin:auto;
}
.text{
    font-family:'Schoolbell', cursive;
   text-decoration:none;
    text-transform: uppercase;
    color: var(--font-color);
    font-size:2rem;
}
header nav .search{
    display: flex;
  padding: 0;
 border: 1px solid transparent;

}
header nav .search:hover{
       border: 0px solid #165BBD;
}
header nav .menu{
    display:flex;
    padding:0;
    list-style-type:none;
    justify-content: space-around;
    flex-wrap:wrap;
    height: 220px;
     flex-direction:column;
}
header nav .menu li a{
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:16px;
    font-family:'Schoolbell', cursive;
}
header nav .menu li a:hover{
    border: 1px solid #165BBD;
}
header .banner{
    background-image: url(../image/fish.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items:center;
    justify-content: center;
}
header .banner h1 a{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    border: 2px solid transparent;
    padding:10px;
    }
header .banner h1 a:hover{
    border: 5px solid var(--accent-color);
    border-radius:20px;
}
main #catalog h1{
    font-family: var(--font-family);
    text-transform: uppercase;
    display :flex;
    justify-content:space-between;
}
main #catalog .catagory{
    background-image: linear-gradient(to right top, #93bfd6, #52a5dc, #0087e1, #0064dd, #4336cb);
     font-family: var(--font-family);
    display:flex;
    padding:0;
    list-style-type:none;
    flex-direction: column;
}
main #catalog .catagory li a{
    font-family: var(--font-family);
    text-decoration:none;
   color: var(--font-color);
   list-style-type:none;
}
main #catalog .catagories .fish{
    border: 1px solid transparent;
}
main #catalog .catagories .fish:hover{
    border: 1px solid #2274CE;
}
footer #contacts h1{
    display: flex;
    font-family: var(--font-family);
    text-transform: uppercase;
}
@media(min-width: 600px){
header .nav{
    display: flex;
align-items: center;
}
header nav .menu{
    flex:1;
    flex-direction:row;
    height: auto;
}
main .fish image{
    width:100%;
display:block;
}
main .product .product-buttons{
    display: flex;
    justify-content: space-around;
}
main #catalog .catalogies{
    justify-content: center;
}
footer #contacts h1{
    justify-content: center;
}
}
@media (min-width: 400px){
    main .catagories{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:5px;

    }
}
@media (min-width:650px){
    main .catagories{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media (min-width: 980px){
    main .catagories{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}