@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
:root{
--font-color:black;
--font-family:'Schoolbell', cursive;
--accent-color: #1A1D74;
 scroll-behavior: smooth;
}
body{
    max-width: 980px;
    margin:auto;
}
.text{
    font-family:'Schoolbell', cursive;
   text-decoration:none;
    text-transform: uppercase;
    color: var(--font-color);
    font-size:2rem;
}
header .clock{
position: fixed;
border: 1px solid transparent;
padding:5px;
    }
    header .clock:hover{
border: 1px solid var(--accent-color);
    }
header nav .search{
display: flex;
  padding: 0;
 border: 1px solid transparent;
 font-family: var(--font-family);

}
header nav .search:hover{
       border: 1px solid #165BBD;
}
header nav .menu{
    display:flex;
    padding:0;
    list-style-type:none;
    justify-content: space-around;
    flex-wrap:wrap;
    height: 220px;
     flex-direction:column;
}
header nav .menu li a{
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:16px;
    font-family:'Schoolbell', cursive;
}
header nav .menu li a:hover{
    border: 1px solid #165BBD;
}
header .banner{
    background-image: url(../image/fish.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items:center;
    justify-content: center;
}
header .banner h1 a{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    border: 2px solid transparent;
    padding:10px;
    }
header .banner h1 a:hover{
    border: 5px solid var(--accent-color);
    border-radius:20px;
}
main #catalog h1{
    font-family: var(--font-family);
    text-transform: uppercase;
    display :flex;
    justify-content:space-between;
}
main #catalog .catagory{
    background-image: linear-gradient(to right top, #93bfd6, #52a5dc, #0087e1, #0064dd, #4336cb);
     font-family: var(--font-family);
    display:flex;
    padding:0;
    list-style-type:none;
    flex-direction: column;
}
main #catalog .catagory li a{
    font-family: var(--font-family);
    text-decoration:none;
   color: var(--font-color);
   list-style-type:none;
}
main #catalog .catagories .fish{
    font-family: var(--font-family);
    border: 1px solid transparent;
}
main #catalog .catagories .fish:hover{
    border: 4px solid #2274CE;
}
main .fish .buttonBuy  {
  	-moz-box-shadow: 3px 3px 0px 0px #327fc2;
	-webkit-box-shadow: 3px 3px 0px 0px #327fc2;
	box-shadow: 3px 3px 0px 0px #327fc2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d2a47), color-stop(1, #2490fc));
	background:-moz-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-webkit-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-o-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-ms-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:linear-gradient(to bottom, #0d2a47 5%, #2490fc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2a47', endColorstr='#2490fc',GradientType=0);
	background-color:#0d2a47;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #2e6fb0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d6e9e;
}
main .fish .buttonBuy :hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2490fc), color-stop(1, #0d2a47));
	background:-moz-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-webkit-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-o-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-ms-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:linear-gradient(to bottom, #2490fc 5%, #0d2a47 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2490fc', endColorstr='#0d2a47',GradientType=0);
	background-color:#2490fc;
}
main .fish .buttonBuy :active{
position:relative;
	top:1px;
}
main .fish .buttons  {
  	-moz-box-shadow: 3px 3px 0px 0px #327fc2;
	-webkit-box-shadow: 3px 3px 0px 0px #327fc2;
	box-shadow: 3px 3px 0px 0px #327fc2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d2a47), color-stop(1, #2490fc));
	background:-moz-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-webkit-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-o-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-ms-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:linear-gradient(to bottom, #0d2a47 5%, #2490fc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2a47', endColorstr='#2490fc',GradientType=0);
	background-color:#0d2a47;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #2e6fb0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 1px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d6e9e;
}
main .fish .buttons :hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2490fc), color-stop(1, #0d2a47));
	background:-moz-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-webkit-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-o-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-ms-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:linear-gradient(to bottom, #2490fc 5%, #0d2a47 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2490fc', endColorstr='#0d2a47',GradientType=0);
	background-color:#2490fc;
}
main .fish .buttons :active{
position:relative;
	top:1px;
}
footer #contacts h1{
    display: flex;
    font-family: var(--font-family);
    text-transform: uppercase;
}
footer #contacts .contact{
  display: flex;
    font-family: var(--font-family);
     flex-direction:row;
}
footer #contacts .data{
display: flex;
font-family: var(--font-family);
flex-direction: column;
border: 1px solid transparent;
}
footer #contacts .data:hover{
    border: 2px solid #2274CE;
}
footer .foot{
background-image: linear-gradient(to right top, #93bfd6, #52a5dc, #0087e1, #0064dd, #4336cb);
border: 1px solid #1A1D74;
padding:12px;
}
footer .data .button  {
  	-moz-box-shadow: 3px 3px 0px 0px #327fc2;
	-webkit-box-shadow: 3px 3px 0px 0px #327fc2;
	box-shadow: 3px 3px 0px 0px #327fc2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d2a47), color-stop(1, #2490fc));
	background:-moz-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-webkit-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-o-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:-ms-linear-gradient(top, #0d2a47 5%, #2490fc 100%);
	background:linear-gradient(to bottom, #0d2a47 5%, #2490fc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2a47', endColorstr='#2490fc',GradientType=0);
	background-color:#0d2a47;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #2e6fb0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d6e9e;
}
footer .data .button :hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2490fc), color-stop(1, #0d2a47));
	background:-moz-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-webkit-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-o-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:-ms-linear-gradient(top, #2490fc 5%, #0d2a47 100%);
	background:linear-gradient(to bottom, #2490fc 5%, #0d2a47 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2490fc', endColorstr='#0d2a47',GradientType=0);
	background-color:#2490fc;
}
footer .data .button :active{
position:relative;
	top:1px;
}
@media(min-width: 600px){
header .nav{
    display: flex;
align-items: center;
}
header nav .menu{
    flex:1;
    flex-direction:row;
    height: auto;
}
main .fish image{
    width:100%;
display:block;
}
main .product .product-buttons{
    display: flex;
    justify-content: space-around;
}
main #catalog .catalogies{
    justify-content: center;
}
footer #contacts h1{
    justify-content: center;
}
}
@media (min-width: 400px){
    main .catagories{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:5px;

    }
}
@media (min-width:650px){
    main .catagories{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media (min-width: 980px){
    main .catagories{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}